.top-menu-menu ul.top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.top-menu-menu ul.top-menu li.menu-li {
  flex-grow: 1;
  padding: 10px;
  margin: 0;
  height: 100%;
  background-color: #ecdd0b;
}
.top-menu-menu ul.top-menu li.menu-li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #000000;
  text-decoration: none;
}
.top-menu-menu ul.top-menu li.menu-li a:hover {
  text-decoration: none;
  color: #000000;
}
.top-menu-menu ul.top-menu li.menu-li:hover {
  background: #ffffff;
}
.top-menu-menu ul.top-menu li.menu-li:hover .top-menu-submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
