.navbar-search {
  position: relative;
}
.navbar-search .search-list {
  z-index: 99;
  background-color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 3px 1px 20px #888888;
  margin-top: 10px;
  width: 100%;
}
.navbar-search .search-list li {
  padding: 7px 5px;
  border-bottom: 1px #dbdbdb solid;
  width: 100%;
}
.navbar-search .search-list li:hover {
  border-bottom: 1px #dcf028 solid;
  cursor: pointer;
}
